body {
    margin: 0;
}

#showcase {
    background-image: url(/images/istockphoto-1181563943-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}



button {
    border-radius: 10px;
    width: 100px;
    height: 50px;
    background: none;
    border-color: black;
}



button:hover {
    color: white;
    background-color: black;
}

#section-a{
    background-color: blue;
    color: white;
    padding: 10px;
}

#section-b{
    padding:10px;
}

#section-c{
   display: flex;
   padding:10px;
   
   
}
p.color{background-color: blue;}